.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  margin: 5vh auto;
  color: #444444;
}

.table {
  table-layout: fixed;
  width: 100%;
  font-size: 3vh;
}

.pageBody {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
