.profileBody {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.profilePicture {
  max-height: 100%;
  max-width: 100%;
  width: 50%;
  float: right;
  margin-right: 1vw;
}

.profileTable {
  width: 60%;
}
